<app-top-bar></app-top-bar>

<div class="categories">
  <div class="category-form">
    <label>Name:</label>
    <input type="text" [(ngModel)]="newCategory.name">
    <label>Type:</label>
    <select [(ngModel)]="newCategory.type">
      <option value="expense">Expense</option>
      <option value="income">Income</option>
    </select>
    <button (click)="createCategory()">Create</button>
  </div>


  <div class="category-button">
    <button (click)="showAllCategories()">All</button>
    <button (click)="selectedType = 'income'; filterCategoryBySelectedType()">Income</button>
    <button (click)="selectedType = 'expense'; filterCategoryBySelectedType()" >Expense</button>
  </div>

  <div class="category-container" *ngIf="selectedType === 'income'">
    <div *ngFor="let category of incomeCategories">
      <a routerLink="/categories/{{category.id}}">
        <a routerLink="/categories/{{category.id}}">
          <img [src]="category.img ? category.img : defaultImage" alt="{{ category.name }}">
          {{category.name}}
        </a>
      </a>
      <button (click)="deleteCategory(category.id)">Delete</button>
    </div>
  </div>

  <div class="category-container" *ngIf="selectedType === 'expense'">
    <div *ngFor="let category of expenseCategories">
      <a routerLink="/categories/{{category.id}}">
        <img [src]="category.img ? category.img : defaultImage" alt="{{ category.name }}">
        {{category.name}}
      </a>
      <button (click)="deleteCategory(category.id)">Delete</button>
    </div>
  </div>
</div>

<div class="category-container" *ngIf="selectedType === 'all'">
  <div *ngFor="let category of categories">
    <div>
      <a routerLink="/categories/{{category.id}}">
        <img [src]="category.img ? category.img : defaultImage" alt="{{ category.name }}">
        {{category.name}}
      </a>
      <button (click)="deleteCategory(category.id)">Delete</button>
    </div>
  </div>
</div>



