<div class="top-bar">
  <a routerLink="/home" class="logo-link">
    <img src="https://cdn-icons-png.freepik.com/512/2725/2725239.png" alt="logo">
    <h2>WealthWise</h2>
  </a>
  <div class="options">
    <a routerLink="/home">Home</a>
    <a routerLink="/transactions">Transactions</a>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/budget">Budget</a>
<!--    <a routerLink="/profile">Profile</a>-->
    <button routerLink="/about-us" id="about-us">About us</button>
    <button (click)="logout()" id="logout"><img src="https://static-00.iconduck.com/assets.00/logout-icon-2048x2046-yqonjwjv.png" alt="logout" width="20"></button>
  </div>
</div>
<router-outlet></router-outlet>
