<div class="top-bar">
  <a routerLink="/home" class="logo-link">
    <img src="https://cdn-icons-png.freepik.com/512/2725/2725239.png" alt="logo">
    <h2>WealthWise</h2>
  </a>
  <div class="options">
    <a routerLink="/home">Home</a>
    <a routerLink="/transactions">Transactions</a>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/budget">Budget</a>
    <a routerLink="/profile">Profile</a>
    <button (click)="logout()" id="logout"><img src="https://cdn0.iconfinder.com/data/icons/thin-line-color-2/21/05_1-512.png" alt="logout" width="25"></button>
    <button routerLink="/about-us" id="about-us">About us</button>
  </div>
</div>
<router-outlet></router-outlet>
