<app-top-bar></app-top-bar>

<div *ngIf="category" class="category-detail-container">
  <div class="category-detail-form">
    <img [src]="category.img" class="category-detail-image">
    <label><h2>{{ category.name }}</h2></label>
    <input type="text" [(ngModel)]="updatedCategory" placeholder="New name">

    <button (click)="updateCategoryName()" class="update-category">Save</button>

    <div class="delete-category">
      <button (click)="deleteCategory()">Delete Category</button>
    </div>
  </div>

  <div class="category-transactions">
    <table>
      <thead>
      <tr>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.amount }} ₸</td>
        <td>{{ transaction.date }}</td>
        <button (click)="deleteTransaction(transaction.id)"><img src="https://static.vecteezy.com/system/resources/previews/021/352/964/non_2x/trash-icon-recycle-and-trash-sign-symbol-icon-free-png.png" width="20"></button>
      </tr>
      </tbody>
    </table>
  </div>
</div>
