.categories {
  margin-top: 30px;
  text-align: center;
}

.category-form {
  margin-bottom: 30px;
}

.category-form label {
  margin-right: 10px;
  margin-left: 50px;
}

.category-form input, select {
  margin-bottom: 20px;
  padding: 7px;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-form button {
  margin-left: 25px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #0d235d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.category-form button:hover {
  background-color: #213570;
}

.category-button button{
  margin-bottom: 40px;
  cursor: pointer;
  margin-right: 25px;
  padding: 10px 20px;
  height: 70px;
  width: 450px;
  border-radius: 6px;
  border: none;
  background-color: #e7e7e7;
  font-size: 20px;
}

.category-button button:hover {
  background-color: #0d235d;
  color: white;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f6f6f6;
  width: 70%;
  border-radius: 30px;
}

.category-container > div {
  margin: 10px;
  text-align: center;
  flex: 0 0 25%;
  padding: 20px;
}

.category-container img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
  padding-top: 40px;
}

.category-img {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #eeeeee;
  /*border: 4px solid #500088;*/
}

.category-img:hover {
  background-color: #e5e4e4;
}

.category-name {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #b65ab6;
  font-size: 20px;
}

